VITE_API_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=xxxxx
VITE_FIREBASE_AUTH_DOMAIN=minha-dispensa-xxxxx.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=minha-dispensa-xxxxx
VITE_FIREBASE_MESSAGING_SENDER_ID=xxxxx
VITE_FIREBASE_APP_ID=xxxxx
VITE_FIREBASE_VAPID_KEY=xxxxx
